<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Natural language processing</title>
    </head>
    <body>
        <header>
            <div class="">
                NLP 
            </div>
            <div class="">
                <nav class="">
                    <ul id="navbar__list">
                        <li>Home</li>
                        <li>How it works</li>
                        <li>Contact</li>
                    </ul>
                  </nav>
            </div>
        </header>
        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <label id="message">Input your text or url</label>
                    <input id="name" type="text" name="input" value="" placeholder="Url or text">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>
        <footer>
            <p>by Ante Kristic</p>    
        </footer>
    </body>
</html>
